:root {
    /* CSS HEX */
    --gray-x-11-gray: #b8b8b8ff;
    --mandarin: #ef7241ff;
    --maximum-blue-green: #48b8c6ff;
    --pearly-purple: #a162a0ff;
    --united-nations-blue: #5e91ccff;
}

body {}