:root {
    /* CSS HEX */
    --gray: #b8b8b8ff;
    --orange: #ef7241ff;
    --teal: #48b8c6ff;
    --purple: #a162a0ff;
    --blue: #5e91ccff;
  }

.flex-form{
    display: flex; /*or inline-flex*/
    align-items: center;
    flex-direction: column;
}

body {  
    font-family: 'Libre Caslon Display';font-size: 22px;
    background-color: var(--teal); 
    height: 90vh;
    width: 100vw;
  }  
/* mini logo*/

/*whitebox */
.whitebox{
  background-color: white;
  text-align: center !important;
  font-size: 4rem;
  top: 5px;
  width: 100vw;
  margin: 0% !important;
  padding: 100px;
}

.just-logo {
  padding: 5px;
  width: 200px;
  position: absolute;
  top: 45px;
  left: 70px;
  }