:root {
/* CSS HEX */
    --gray: #b8b8b8ff;
    --orange: #ef7241ff;
    --teal: #48b8c6ff;
    --purple: #a162a0ff;
    --blue: #5e91ccff;
    --white: #ffffff;
}

body {
    background-color: var(--teal);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

li {
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    color: var(--gray) !important;
    height: 40vh;
}

.right {
    float: right;
}

.title {
    font-size: 2rem;
    vertical-align: middle;
}

li a {
    font-size: 1.75rem;
    text-decoration: none;
    color: var(--gray) !important;
}

.middle {
    margin-top: 40% !important;
}

img {
    height: 6rem;
    margin-right: 1%;
}


.content-container {
    margin-top: 5%;

    height: 40vh;
    width: 80vw;

    background-color: var(--purple) !important;

    text-align: center;
}

.player {
    margin-left: 10%;
    margin-top: 5%;
}

#start-post-form {
    margin-top: 5%;
    margin-left: 25%;
}

.tooright {
    margin-right: 15%;
    margin-bottom: 2%;
}

form {
    width: 80vw !important;
    padding: 1%;
}