:root {
    /* CSS HEX */
    --gray: #b8b8b8ff;
    --orange: #ef7241ff;
    --teal: #48b8c6ff;
    --purple: #a162a0ff;
    --blue: #5e91ccff;
}
    
/* background */
body {  
    font-family: 'Libre Caslon Display';font-size: 22px;
    background-color: var(--teal); 
    height: 90vh;
    width: 90vw;
  }  
  
img {
    border: none !important;
}

/*mini logo */
.just-logo {
  padding: 5px;
  width: 90px;
  position: absolute;
  top: 5px;
  left:-2px;
}

/*user pic */
.person-icon {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    top: 252px;
  }   

/* user pic 1 */
.person-icon {
    border: none !important;
    width: 50px;
    position: absolute;

  }

/* box */
.whitebox {
  background-color: white;
  text-align: center !important;
  top: 5px;
}

/*Username and Pass */
    form {   
        height: 100vh;  
        width: 50vw;
    }  

    input[type=text], input[type=password] {   
        width: 85%;   
        margin: 10px 45px;
        margin-top: 150px;
        margin-bottom: -40px;  
        padding: 12px 10px;   
        display: inline-block;   
        border: 2px solid #ef7241ff;   
        box-sizing: border-box;   
    }  

/* log in button */    
button {   
    background-color: #b8b8b8ff;   
    width: 85%;  
     color: #a162a0ff;   
     padding: 15px;   
     margin: 30px 45px;   
     border: 30px;   
     cursor: pointer;   
      }  

/* sign up button */  
      a {
        background-color: var(--orange);
        text-decoration: none;
        color: var(--gray);
      }

/* large logo */
.vertical-logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 760px;
    position: absolute;
    right: 50px;
    top: -5px;
  }
  
  



.title {
  display: inline-flex;
  height: 100%;
  font-size: 4rem;
}